<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Estadísticas</title>
  <link rel="stylesheet" href="../static/css/estadisticas.css">

  <script src="https://code.highcharts.com/highcharts.js"></script>

  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
</head>
<body>
  <h2>Estadísticas</h2>


  <div id="linea" style="width:100%; height:400px;"></div>

  <div id="torta" style="width:100%; height:420px;"></div>

  <div id="barra" style="width:100%; height:420px;"></div>

  <button id="portada_button" class="portada_button">Volver a la portada</button>  

  <script src="../static/js/estadisticas.js"></script>
  <script src="../static/js/estadisticas_avisos_por_dia.js"></script>
  <script src="../static/js/estadisticas_avisos_por_tipo.js"></script>
  <script src="../static/js/estadisticas_avisos_por_mes_tipo.js"></script>
</body>
</html>