<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Estadísticas de Actividades</title>
        <link rel="stylesheet" href="../css/estadisticas.css">
    </head>
    <body>
        <div>
            <h1>Estadísticas de Actividades</h1>
            <img src="../fotos/grafico1.png" alt="Gráfico de líneas de actividades por día" width="600" height="400">
            <br>
            <img src="../fotos/grafico2.png" alt="Gráfico de torta de actividades por tipo" width="600" height="600">
            <br>
            <img src="../fotos/grafico3.png" alt="Gráfico de barras por mes y momento del día" width="700" height="500">
        </div>
        <button id="portada_button" class="portada_button">Volver a la portada</button>    
        <script src="../js/agregar_aviso.js"></script>
    </body>
</html>